* {
    box-sizing: border-box;
    font-family: Archivo, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    width: 100%;
    height: 84px;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 5rem;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.help-center {
    white-space: nowrap;
    text-decoration: none;

    color: black;
    font-size: 22px;
}

#logo {
    display: block;
    width: 120px;
    height: auto;
    cursor: pointer;
}

.divider {
    width: 2px;
    height: 22px;
    background-color: black;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#submit,
#signIn {
    padding: 10px 12px;
    border: 1.5px solid black;
    border-radius: 10px;

    background-color: white;
    font-size: 18px;

    &:hover {
        cursor: pointer;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.6);
    }
}

#signIn {
    border-color: #09a52d;
    color: #09a52d;

    &:hover {
        background-color: #cbffe7;
    }
}

main {
    height: 1200px;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 450px;
    background-color: #dadbf1;

    h1 {
        margin-top: 25px;
        font-size: 60px;
        font-weight: 300;
    }
}

.search {
    position: relative;
    width: 700px;

    input {
        width: 100%;
        padding: 20px 80px 20px 20px;

        border: 1.5px solid black;
        border-radius: 5px;

        font-size: 18px;

        &:hover {
            border: 1.5px solid #4c5fd5;
            outline: none;
        }
    }

    i {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.features {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    column-gap: 80px;
    row-gap: 60px;

    padding: 100px;
}

.card {
    display: flex;
    align-items: center;
    gap: 38px;
}

.image {
    width: 70px;
    height: 70px;
    flex: 0 0 70px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.content a {
    text-decoration: none;
    color: rgb(0,148,197);
}

footer {
    width: 100%;
    height: 250px;

    background-color: black;
}